@font-face {
  font-family: 'Rocky Ryder';
  src: url('/fonts/rocky-ryder/rocky-ryder.woff2') format('woff2'),
    url('/fonts/rocky-ryder/rocky-ryder.woff') format('woff'),
    url('/fonts/rocky-ryder/rocky-ryder.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pustaka Bali';
  src: url('/fonts/pustaka-bali/pustaka-bali.woff2') format('woff2'),
    url('/fonts/pustaka-bali/pustaka-bali.woff') format('woff'),
    url('/fonts/pustaka-bali/pustaka-bali.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('https://cdn.fontshare.com/wf/LHQJ5KSAL7VGAEIDSTEXCCOIUKFLT2I6/GW57XUEG4ZBVMLZZTQZTGYPROITRRQ5W/JA3IZUEMJ2J6WWT2OQVJOAWDXO3YL4YG.woff2') format('woff2'),
    url('https://cdn.fontshare.com/wf/LHQJ5KSAL7VGAEIDSTEXCCOIUKFLT2I6/GW57XUEG4ZBVMLZZTQZTGYPROITRRQ5W/JA3IZUEMJ2J6WWT2OQVJOAWDXO3YL4YG.woff') format('woff'),
    url('https://cdn.fontshare.com/wf/LHQJ5KSAL7VGAEIDSTEXCCOIUKFLT2I6/GW57XUEG4ZBVMLZZTQZTGYPROITRRQ5W/JA3IZUEMJ2J6WWT2OQVJOAWDXO3YL4YG.ttf') format('truetype');
  font-weight: 400 700;
  font-display: swap;
  font-style: normal;
}