:root {
  --dark01: #121112;
  --dark02: #1F1D1F;
  --dark03: #444444;

  --light01: #FAF9F6;
  --light02: #939393;
  --light03: #A3A3A3;
}

body {
  background-color: var(--dark01);
  position: relative;
}

a {
  color: inherit;
  text-decoration: unset;
}

*[data-anthro-prevention] {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}